.img-fluid{   
    border-radius: 3%;
    border: solid 2px;
    border-color: black;
}
.col{   
    border-radius: 3%;
    border: solid 2px;
    border-color: black;
  
}
.row{
    column-gap: 5%;
}